{% extends 'base.html' %}

{% block content %}
<h2>Listado de Vehículos</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Serial Carrocería</th>
            <th>Serial Motor</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Condición de Precio</th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.serial_carroceria }}</td>
            <td>{{ vehiculo.serial_motor }}</td>
            <td>{{ vehiculo.categoria }}</td>
            <td>{{ vehiculo.precio }}</td>
            <td>{{ vehiculo.condicion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
